*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
}
html, body{
    width: 100%;
    height: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}
#nav h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 50px;
}
#main h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    /* background-color: red; */
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 9;
    
}


#main h1:nth-child(2){
    margin-top: 180px;
}
#main h1:nth-child(3){
    text-align: center;
}

#main h1:nth-child(4){
    text-align: center;
    color: gold
}

img{
    height: 400px;
    position: absolute;
    top:30%;
    left: 60%;
    border-radius: 15%;
    border: 1px solid gold;

}

#img1{
    rotate: 20deg;

}

#img2{
    rotate: 10deg;
    
}
